.container{
    padding: 1rem;
}

.products{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productCard{
    width: 234px;
    height: 440px;
    border: 1px solid #ccc;
    margin: 20px;
  }

.onSale{
    font-family: 'Paytone One', 'Helvetica Neue';
    width: 100%;
    height: 38;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px;
    background-color: red;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);

}

.logoTitle{
    height: 1.5rem;
    width: 60%
}

.wishlist{
    
}
img{
    width: 100%;
}



/* Single Product Grid view */

.singleproduct{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr 2fr 0.7fr;
    gap: 1px 1px;
    grid-template-areas: 
    
    "product__history product__history    product__history    product__checkout"
    "product__image   product_description product_description product__checkout"
    "product__scroll . . product__checkout"
    ;
  }
  
  .product__image { grid-area: product__image; }
  
  .product_description { grid-area: product_description; }
  
  .product__checkout { grid-area: product__checkout; }
  
  .product__scroll { grid-area: product__scroll; }
  
  .product__history { grid-area: product__history; }
