@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 40px;
}

body {
  background-color: #eee;
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-family: 'Roboto',sans-serif;
}



/* Main Top Navbar */
.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#FFEC0F;
  height: 60px;
}

.main-nav__logo{
  width: 250px;
  margin-left: -20px;
  }

  .main-nav__search{
    border: 1px solid #bbb;
    background-color:#fff;
    padding: 10px;
    color: #ccc;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  }
  .main-nav__input{
    margin-left: 10px;
      border: none;
      outline: none;
      background-color:#fff;
  }
  ::placeholder {
    color: #aaa;
  }


  .main-nav__list{
    display: flex;
  }


.main-nav__list li{
  list-style: none;
  display: flex;
  padding: 5px;
  margin: 0 5px;
  font-weight: bold;
  font-size: 14px;
}
.main-nav__list li a .fas{
  margin-right: 5px;
}

.main-nav__list li a{
  text-decoration: none;
  color: #000;
}

/* Product Navbar */

.product-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;

  height: 100vh;
  height: 50px;
  background-color: #000;
}
.nav-link{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;


}



.discount {
  font-weight: 400;
  font-size: .8rem;
  color: #1b1b1b;
}