*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #eee;
  font-family: "Helvetica Neue",Helvetica,Arial;
}

li{
  list-style: none;
  display: flex;
  padding: 5px;
  border-right: 1px solid #333;
}

.main-nav{
  display: flex;
  background-color:#FFEC0F;
  height: 60px;
}

.nav-link{
  text-decoration: none;
}

.product-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4px;

  height: 100vh;
  height: 50px;
  background-color: #000;
}
.nav-link{
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2; 
  

}
.products{
  display: flex;
  flex-wrap: wrap;
}
